# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/img/vienne/coin_coin_005.JPG
src/assets/img/NYC/20180426-001.JPG
src/assets/img/NYC/20180426-002.JPG
src/assets/img/NYC/20180426-003.JPG
src/assets/img/NYC/20180426-004.JPG
src/assets/img/NYC/20180426-005.JPG
src/assets/img/NYC/20180426-006.JPG
src/assets/img/NYC/20180426-007.JPG
src/assets/img/vienne/coin_coin_001.JPG
src/assets/img/vienne/coin_coin_002.JPG
src/assets/img/vienne/coin_coin_003.JPG
src/assets/img/vienne/coin_coin_004.JPG
src/environments/desktop.ini
src/assets/desktop.ini
src/assets/img/desktop.ini
src/assets/img/NYC/desktop.ini
src/assets/img/vienne/desktop.ini
src/app/vignette/desktop.ini
src/models/desktop.ini
src/app/desktop.ini
src/desktop.ini
