<div class="row">
  <h2 class="col-md-12 col-lg-12 text-center">{{albums.length}} Albums disponibles</h2>

  <div class="col-md-12 col-lg-12">
    <div class="row">
      <div *ngFor="let album of albums; let index = index;" id="album-{{index}}" class="col-md-4 col-lg-3 ml-1 border" (click)="selectionnerAlbum(album)">
        <span class="badge badge-primary">
          {{album.id}}
        </span>
        {{album.titre}}
      </div>      
    </div>
  </div>

  <div class="photos-depuis-album" *ngIf="idAlbumSelectionne > 0">
    <app-miniature [album]="albumSelectionne"></app-miniature>
  </div>
</div>