h2 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.vignette {
    display: inline-block;
    max-height: 570px;
    min-width: 300px;
    max-width: 70%;
    height: auto;
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.vignette-hidden {
    display: none;
}

.vignette > .photo {
    display: block;
    max-height: inherit;
    overflow: hidden;
}

.img-navigation-btn {
    display: inline-block;
    vertical-align: top;
    width:2%;
}

.titre-photo {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.quitter-btn {
    line-height: 1em;
    width: 30px;
}